#settings.advanced
#Fri Jul 31 13:54:55 CST 2026
chatBoxUnfocHeight=50.0
chatFadeTicks=200.0
chatScrollHistory=999
chatbox.anchoredTop=false
chatbox.height=243
chatbox.width=320
chatbox.x=1
chatbox.y=-37
convertunicodetext=false
maxLengthChannelName=10
multiChatDelay=500
pinchatinterface=false
textignoreopacity=true
