#settings.advanced
#Fri Jul 17 22:58:41 CST 2026
chatBoxUnfocHeight=50.0
chatFadeTicks=200.0
chatScrollHistory=999
chatbox.anchoredTop=false
chatbox.height=180
chatbox.width=320
chatbox.x=1
chatbox.y=-37
convertunicodetext=false
maxLengthChannelName=10
multiChatDelay=500
pinchatinterface=false
textignoreopacity=true
