#settings.general
#Wed Apr 29 18:19:36 CST 2026
groupSpam=false
saveChatLog=false
splitChatLog=false
tabbyChatEnable=true
timeStampColor=AQUA
timeStampEnable=true
timeStampStyle=MILITARYWITHCOLON
unreadFlashing=true
updateCheckEnable=true
