# Configuration file

bar {
    I:CreationBarX=150
    I:CreationBarY=2
    I:EnergyBarX=175
    I:EnergyBarY=2
    I:RageBarX=225
    I:RageBarY=2
    I:SoulBarX=125
    I:SoulBarY=2
    I:TributeBarX=200
    I:TributeBarY=2
}


biome {
    I:"Abyss Biome ID"=271
    I:"Abyss Eye Biome ID"=272
    I:"Abyss Shadow Biome ID"=273
    I:"Ancient Cavern Biome ID"=274
    I:"Barathos Biome ID"=275
    I:"Baron Forest Biome ID"=276
    I:"Candyland Biome ID"=277
    I:"Celeve Biome ID"=278
    I:"Chocolate Forest Biome ID"=279
    I:"Creeponia Biome ID"=280
    I:"Crystevia Biome ID"=281
    I:"Deeplands Biome ID"=282
    I:"Deeplands Fungal Biome ID"=283
    I:"Deeplands Shine Biome ID"=284
    I:"Dustopia Biome ID"=285
    I:"Dustopian Marsh Biome ID"=286
    I:"Dustopian Plains Biome ID"=287
    I:"Gardencia Biome ID"=288
    I:"Gardencia Fungal Biome ID"=289
    I:"Gardencian Marsh Biome ID"=290
    I:"Greckon Biome ID"=291
    I:"Haunted Forest Biome ID"=292
    I:"Haunted Skulls Biome ID"=293
    I:"Haven Biome ID"=294
    I:"Immortallis Biome ID"=295
    I:"Iro-Tech Biome ID"=296
    I:"Iromine Biome ID"=297
    I:"L'Borean Bubble Forest Biome ID"=298
    I:"L'Borean Forest Biome ID"=299
    I:"L'Borean Reds Biome ID"=300
    I:"L'borean Biome ID"=301
    I:"Labricon Biome ID"=302
    I:"Lelyetia Biome ID"=303
    I:"Lunalus Biome ID"=304
    I:"Marshmallow Hills Biome ID"=305
    I:"Mysterium Biome ID"=306
    I:"Precasia Biome ID"=307
    I:"Precasian Desert Biome ID"=308
    I:"Precasian Field Biome ID"=309
    I:"Precasian Tall Forest Biome ID"=310
    I:"Rock Candy Hills Biome ID"=311
    I:"Rocky Maze Biome ID"=312
    I:"Runandor Biome ID"=313
    I:"Shyrelands Biome ID"=314
    I:"Silvro Biome ID"=315
    I:"Voxponds Biome ID"=316
}


datawatcher {
    I:CreationValue=100
    I:EnergyValue=101
    I:SoulValue=102
    I:Thermal=103
}


dimension {
    I:"Abyss ID"=100
    I:"Ancient Cavern ID"=101
    I:"Barathos ID"=102
    I:"Candyland ID"=103
    I:"Celeve ID"=104
    I:"Creeponia ID"=105
    I:"Crystevia ID"=106
    I:"Deeplands ID"=107
    I:"Dustopia ID"=108
    I:"Gardencia ID"=109
    I:"Greckon ID"=110
    I:"Haven ID"=111
    I:"Immortallis ID"=112
    I:"Iromine ID"=113
    I:"L'borean ID"=114
    I:"Labricon ID"=115
    I:"Lelyetia ID"=116
    I:"Lunalus ID"=117
    I:"Mysterium ID"=118
    I:"Precasia ID"=119
    I:"Runandor ID"=120
    I:"Shyrelands ID"=121
    I:"Voxponds ID"=122
}


enchantment {
    I:Archmage=232
    I:Control=233
    I:Crush=234
    I:Intervention=235
    I:Overpower=236
    I:Recharge=237
    I:Sever=238
    I:Shell=239
    I:Slice=240
    I:Windfury=241
}


limitation {
    I:"DMG Limit"=0
}


skill {
    I:AnimaX=132
    I:AnimaY=65
    I:AuguryX=184
    I:AuguryY=30
    I:ButcheryX=288
    I:ButcheryY=65
    I:CreationSkillX=158
    I:CreationSkillY=30
    I:ExpeditionX=184
    I:ExpeditionY=65
    I:ExtractionX=158
    I:ExtractionY=65
    I:ForagingX=210
    I:ForagingY=30
    I:HaulingX=314
    I:HaulingY=65
    I:HermetismX=262
    I:HermetismY=65
    I:HunterX=132
    I:HunterY=30
    I:InfusionX=236
    I:InfusionY=30
    I:InnervationX=314
    I:InnervationY=30
    I:LoggingX=236
    I:LoggingY=65
    I:RobberyX=288
    I:RobberyY=30
    I:RunationX=262
    I:RunationY=30
    I:VulcanismX=210
    I:VulcanismY=65
}


vulcanism {
    I:VulcanismIconX=150
    I:VulcanismIconY=2
}


