# Configuration file

general {
    # List of items to ban. Format: 'modid:item_name' or 'modid:item_name:metadata'. Examples: 'minecraft:diamond_block', 'minecraft:wool:14' (red wool). [default: [minecraft:bedrock], [minecraft:spawn_egg:50]]
    S:bannedItems <
        minecraft:bedrock
        minecraft:spawn_egg:50
        enviromine:gasMask
        cfm:ItemOven
        cfm:ItemMicrowave
        rubymod:GemDoublerIdle
        Techguns:TechgunsAmmo:68
        Techguns:TechgunsAmmo:87
		Techguns:TechgunsAmmo:44
		Techguns:TechgunsAmmo:43
		Techguns:TechgunsAmmo:42
		Techguns:TechgunsAmmo:41
		Techguns:TechgunsAmmo:45
     >
}


