# Configuration file

##########################################################################################################
# buffer_sizes
#--------------------------------------------------------------------------------------------------------#
# Internal fluid tank capacity for each converter block.
# Larger buffers smooth out throughput spikes but mean more fluid
# is lost if the block is broken.
##########################################################################################################

buffer_sizes {
    # Capacity in mB of the Forge-to-HBM converter's internal tank. [range: 1000 ~ 10000000, default: 8000]
    I:forge_to_hbm_buffer_size=8000

    # Capacity in mB of the HBM-to-Forge converter's internal tank. [range: 1000 ~ 10000000, default: 8000]
    I:hbm_to_forge_buffer_size=8000
}


