# Configuration file

general {
    # Black Entity Names list. as: net.minecraft.entity.player.EntityPlayer [default: [net.minecraft.entity.player.EntityPlayer]]
    S:blackEntityNames <
        net.minecraft.entity.player.EntityPlayer
     >

    # Black TileEntity Names list. as: minecraft:furnace@0 [default: ]
    S:blackTileEntityNames <
     >

    # Handle entity information. [default: false]
    B:enableEntityInfo=true

    # Handle FMP information. [default: false]
    B:enableFMPInfo=true

    # Handle TileEntity information. [default: false]
    B:enableTileEntityInfo=true

    # Handle Tooltip information. [default: false]
    B:enableTooltipInfo=true

    # Force client-side XML configuration [default: false]
    B:forceUseClientXml=false

    # The class name of the script written in java. as: me.exz.omniocular.scripts.GTNHScript [default: ]
    S:scriptClassName <
     >

    # Use the server-side XML configuration [default: true]
    B:sendToClientXML=true
}


