# Configuration file

fontsizesetting {
    # 字符生成分辨率
    D:awtCharSize=64.0

    # 默认显示字号
    D:charSize=9.0

    # 字体缩放系数
    D:fontScale=0.9
}


fontsystem {
    # AA 模式
    I:aaMode=2

    # AA 强度
    D:aaStrength=12.0

    # HSV 亮度增强，仅增强亮度并保持原有颜色倾向
    D:brightnessGain=10.0

    # 字符字体覆盖规则，格式为 字符或范围=字体名；禁用规则使用 disabled: 前缀
    S:characterFontRules <
     >

    # 字间距
    D:characterSpacing=0.1

    # 是否接管物品数量字体
    B:customInvCountFont=false

    # drawString 阶段每次最多补充上传字符数
    I:drawStageUploadBatchSize=2

    # drawString 阶段补充上传的最短间隔（毫秒）
    D:drawStageUploadIntervalMs=20.0

    # drawString 阶段每秒最多补充上传次数
    I:drawStageUploadLimitPerSecond=20

    # 字体排序
    S:fontSort <
        Agency FB
        Agency FB Bold
        Algerian
        Arial
        Arial Black
        Arial Bold
        Arial Bold Italic
        Arial Italic
        Arial Narrow
        Arial Narrow Bold
        Arial Narrow Bold Italic
        Arial Narrow Italic
        Arial Rounded MT Bold
        Bahnschrift
        Bahnschrift Bold
        Bahnschrift Bold Condensed
        Bahnschrift Bold SemiCondensed
        Bahnschrift Condensed
        Bahnschrift Light
        Bahnschrift Light Condensed
        Bahnschrift Light SemiCondensed
        Bahnschrift Regular
        Bahnschrift SemiBold
        Bahnschrift SemiBold Condensed
        Bahnschrift SemiBold SemiCondensed
        Bahnschrift SemiCondensed
        Bahnschrift SemiLight
        Bahnschrift SemiLight Condensed
        Bahnschrift SemiLight SemiCondensed
        Baskerville Old Face
        Bauhaus 93
        Bell MT
        Bell MT Bold
        Bell MT Italic
        Berlin Sans FB
        Berlin Sans FB Bold
        Berlin Sans FB Demi Bold
        Bernard MT Condensed
        Blackadder ITC
        Bodoni MT
        Bodoni MT Black
        Bodoni MT Black Italic
        Bodoni MT Bold
        Bodoni MT Bold Italic
        Bodoni MT Condensed
        Bodoni MT Condensed Bold
        Bodoni MT Condensed Bold Italic
        Bodoni MT Condensed Italic
        Bodoni MT Italic
        Bodoni MT Poster Compressed
        Book Antiqua
        Book Antiqua Bold
        Book Antiqua Bold Italic
        Book Antiqua Italic
        Bookman Old Style
        Bookman Old Style Bold
        Bookman Old Style Bold Italic
        Bookman Old Style Italic
        Bookshelf Symbol 7
        Bradley Hand ITC
        Britannic Bold
        Broadway
        Brush Script MT Italic
        Calibri
        Calibri Bold
        Calibri Bold Italic
        Calibri Italic
        Calibri Light
        Calibri Light Italic
        Californian FB
        Californian FB Bold
        Californian FB Italic
        Calisto MT
        Calisto MT Bold
        Calisto MT Bold Italic
        Calisto MT Italic
        Cambria
        Cambria Bold
        Cambria Bold Italic
        Cambria Italic
        Cambria Math
        Candara
        Candara Bold
        Candara Bold Italic
        Candara Italic
        Candara Light
        Candara Light Italic
        Cascadia Code Bold
        Cascadia Code Bold Italic
        Cascadia Code ExtraLight
        Cascadia Code ExtraLight Italic
        Cascadia Code Italic
        Cascadia Code Light
        Cascadia Code Light Italic
        Cascadia Code Regular
        Cascadia Code SemiBold
        Cascadia Code SemiBold Italic
        Cascadia Code SemiLight
        Cascadia Code SemiLight Italic
        Cascadia Mono Bold
        Cascadia Mono Bold Italic
        Cascadia Mono ExtraLight
        Cascadia Mono ExtraLight Italic
        Cascadia Mono Italic
        Cascadia Mono Light
        Cascadia Mono Light Italic
        Cascadia Mono Regular
        Cascadia Mono SemiBold
        Cascadia Mono SemiBold Italic
        Cascadia Mono SemiLight
        Cascadia Mono SemiLight Italic
        Castellar
        Centaur
        Century
        Century Gothic
        Century Gothic Bold
        Century Gothic Bold Italic
        Century Gothic Italic
        Century Schoolbook
        Century Schoolbook Bold
        Century Schoolbook Bold Italic
        Century Schoolbook Italic
        Chiller
        Colonna MT
        Comic Sans MS
        Comic Sans MS Bold
        Comic Sans MS Bold Italic
        Comic Sans MS Italic
        Consolas
        Consolas Bold
        Consolas Bold Italic
        Consolas Italic
        Constantia
        Constantia Bold
        Constantia Bold Italic
        Constantia Italic
        Cooper Black
        Copperplate Gothic Bold
        Copperplate Gothic Light
        Corbel
        Corbel Bold
        Corbel Bold Italic
        Corbel Italic
        Corbel Light
        Corbel Light Italic
        Courier New
        Courier New Bold
        Courier New Bold Italic
        Courier New Italic
        Curlz MT
        DengXian Bold
        DengXian Light
        DengXian Regular
        Dialog.bold
        Dialog.bolditalic
        Dialog.italic
        Dialog.plain
        DialogInput.bold
        DialogInput.bolditalic
        DialogInput.italic
        DialogInput.plain
        Dubai Bold
        Dubai Light
        Dubai Medium
        Dubai Regular
        Ebrima
        Ebrima Bold
        Edwardian Script ITC
        Elephant
        Elephant Italic
        Engravers MT
        Eras Bold ITC
        Eras Demi ITC
        Eras Light ITC
        Eras Medium ITC
        FangSong
        Felix Titling
        Footlight MT Light
        Forte
        Franklin Gothic Book
        Franklin Gothic Book Italic
        Franklin Gothic Demi
        Franklin Gothic Demi Cond
        Franklin Gothic Demi Italic
        Franklin Gothic Heavy
        Franklin Gothic Heavy Italic
        Franklin Gothic Medium
        Franklin Gothic Medium Cond
        Franklin Gothic Medium Italic
        Freestyle Script
        French Script MT
        FZShuTi
        FZYaoTi
        Gabriola
        Gadugi
        Gadugi Bold
        Garamond
        Garamond Bold
        Garamond Italic
        Georgia
        Georgia Bold
        Georgia Bold Italic
        Georgia Italic
        Gigi
        Gill Sans MT
        Gill Sans MT Bold
        Gill Sans MT Bold Italic
        Gill Sans MT Condensed
        Gill Sans MT Ext Condensed Bold
        Gill Sans MT Italic
        Gill Sans Ultra Bold
        Gill Sans Ultra Bold Condensed
        Gloucester MT Extra Condensed
        Goudy Old Style
        Goudy Old Style Bold
        Goudy Old Style Italic
        Goudy Stout
        Haettenschweiler
        Harlow Solid Italic
        HarmonyOS Sans SC
        HarmonyOS Sans SC Bold
        HarmonyOS Sans SC Medium
        Harrington
        High Tower Text
        High Tower Text Italic
        HYZhongHei 197
        Impact
        Imprint MT Shadow
        Informal Roman
        Ink Free
        Javanese Text
        Jokerman
        Juice ITC
        KaiTi
        Kristen ITC
        Kunstler Script
        Leelawadee UI
        Leelawadee UI Bold
        Leelawadee UI Semilight
        LiSu
        Lucida Bright
        Lucida Bright Demibold
        Lucida Bright Demibold Italic
        Lucida Bright Italic
        Lucida Calligraphy Italic
        Lucida Console
        Lucida Fax Demibold
        Lucida Fax Demibold Italic
        Lucida Fax Italic
        Lucida Fax Regular
        Lucida Handwriting Italic
        Lucida Sans Demibold Italic
        Lucida Sans Demibold Roman
        Lucida Sans Italic
        Lucida Sans Regular
        Lucida Sans Typewriter Bold
        Lucida Sans Typewriter Bold Oblique
        Lucida Sans Typewriter Oblique
        Lucida Sans Typewriter Regular
        Lucida Sans Unicode
        Magneto Bold
        Maiandra GD
        Malgun Gothic
        Malgun Gothic Bold
        Malgun Gothic Semilight
        Marlett
        Matura MT Script Capitals
        Microsoft Himalaya
        Microsoft JhengHei
        Microsoft JhengHei Bold
        Microsoft JhengHei Light
        Microsoft JhengHei UI
        Microsoft JhengHei UI Bold
        Microsoft JhengHei UI Light
        Microsoft New Tai Lue
        Microsoft New Tai Lue Bold
        Microsoft PhagsPa
        Microsoft PhagsPa Bold
        Microsoft Sans Serif
        Microsoft Tai Le
        Microsoft Tai Le Bold
        Microsoft YaHei
        Microsoft YaHei Bold
        Microsoft YaHei Light
        Microsoft YaHei UI
        Microsoft YaHei UI Bold
        Microsoft YaHei UI Light
        Microsoft Yi Baiti
        MingLiU-ExtB
        MingLiU_HKSCS-ExtB
        MingLiU_MSCS-ExtB
        MiSans
        MiSans-Regular
        Mistral
        Modern No. 20
        Mongolian Baiti
        Monospaced.bold
        Monospaced.bolditalic
        Monospaced.italic
        Monospaced.plain
        Monotype Corsiva
        MS Gothic
        MS Outlook
        MS PGothic
        MS Reference Sans Serif
        MS Reference Specialty
        MS UI Gothic
        MT Extra
        MV Boli
        Myanmar Text
        Myanmar Text Bold
        Niagara Engraved
        Niagara Solid
        Nirmala Text
        Nirmala Text Bold
        Nirmala Text Semilight
        Nirmala UI
        Nirmala UI Bold
        Nirmala UI Semilight
        Noto Sans SC
        Noto Sans SC Black
        Noto Sans SC Bold
        Noto Sans SC DemiLight
        Noto Sans SC Light
        Noto Sans SC Medium
        Noto Sans SC Regular
        Noto Sans SC Thin
        Noto Serif SC
        Noto Serif SC Black
        Noto Serif SC Bold
        Noto Serif SC ExtraLight
        Noto Serif SC Light
        Noto Serif SC Medium
        Noto Serif SC Regular
        Noto Serif SC SemiBold
        NSimSun
        OCR A Extended
        Old English Text MT
        Onyx
        Open Sans
        Palace Script MT
        Palatino Linotype
        Palatino Linotype Bold
        Palatino Linotype Bold Italic
        Palatino Linotype Italic
        Papyrus
        Parchment
        Perpetua
        Perpetua Bold
        Perpetua Bold Italic
        Perpetua Italic
        Perpetua Titling MT Bold
        Perpetua Titling MT Light
        Playbill
        PMingLiU-ExtB
        Poor Richard
        Pristina
        Rage Italic
        Ravie
        Rockwell
        Rockwell Bold
        Rockwell Bold Italic
        Rockwell Condensed
        Rockwell Condensed Bold
        Rockwell Extra Bold
        Rockwell Italic
        Sans Serif Collection
        SansSerif.bold
        SansSerif.bolditalic
        SansSerif.italic
        SansSerif.plain
        Script MT Bold
        Segoe Fluent Icons
        Segoe MDL2 Assets
        Segoe Print
        Segoe Print Bold
        Segoe Script
        Segoe Script Bold
        Segoe UI
        Segoe UI Black
        Segoe UI Black Italic
        Segoe UI Bold
        Segoe UI Bold Italic
        Segoe UI Emoji
        Segoe UI Historic
        Segoe UI Italic
        Segoe UI Light
        Segoe UI Light Italic
        Segoe UI Semibold
        Segoe UI Semibold Italic
        Segoe UI Semilight
        Segoe UI Semilight Italic
        Segoe UI Symbol
        Segoe UI Variable
        Segoe UI Variable Display
        Segoe UI Variable Display Bold
        Segoe UI Variable Display Light
        Segoe UI Variable Display Semibold
        Segoe UI Variable Display Semilight
        Segoe UI Variable Small
        Segoe UI Variable Small Bold
        Segoe UI Variable Small Light
        Segoe UI Variable Small Semibold
        Segoe UI Variable Small Semilight
        Segoe UI Variable Text
        Segoe UI Variable Text Bold
        Segoe UI Variable Text Light
        Segoe UI Variable Text Semibold
        Segoe UI Variable Text Semilight
        Serif.bold
        Serif.bolditalic
        Serif.italic
        Serif.plain
        Showcard Gothic
        SimHei
        SimSun
        SimSun-ExtB
        SimSun-ExtG
        Sitka Banner
        Sitka Banner Bold
        Sitka Banner Bold Italic
        Sitka Banner Italic
        Sitka Banner Semibold
        Sitka Banner Semibold Italic
        Sitka Display
        Sitka Display Bold
        Sitka Display Bold Italic
        Sitka Display Italic
        Sitka Display Semibold
        Sitka Display Semibold Italic
        Sitka Heading
        Sitka Heading Bold
        Sitka Heading Bold Italic
        Sitka Heading Italic
        Sitka Heading Semibold
        Sitka Heading Semibold Italic
        Sitka Small
        Sitka Small Bold
        Sitka Small Bold Italic
        Sitka Small Italic
        Sitka Small Semibold
        Sitka Small Semibold Italic
        Sitka Subheading
        Sitka Subheading Bold
        Sitka Subheading Bold Italic
        Sitka Subheading Italic
        Sitka Subheading Semibold
        Sitka Subheading Semibold Italic
        Sitka Text
        Sitka Text Bold
        Sitka Text Bold Italic
        Sitka Text Italic
        Sitka Text Semibold
        Sitka Text Semibold Italic
        Snap ITC
        STCaiyun
        Stencil
        STFangsong
        STHupo
        STKaiti
        STLiti
        STSong
        STXihei
        STXingkai
        STXinwei
        STZhongsong
        Sylfaen
        Symbol
        Tahoma
        Tahoma Bold
        Tempus Sans ITC
        Times New Roman
        Times New Roman Bold
        Times New Roman Bold Italic
        Times New Roman Italic
        Trebuchet MS
        Trebuchet MS Bold
        Trebuchet MS Bold Italic
        Trebuchet MS Italic
        Tw Cen MT
        Tw Cen MT Bold
        Tw Cen MT Bold Italic
        Tw Cen MT Condensed
        Tw Cen MT Condensed Bold
        Tw Cen MT Condensed Extra Bold
        Tw Cen MT Italic
        Unispace-Bold
        Verdana
        Verdana Bold
        Verdana Bold Italic
        Verdana Italic
        Viner Hand ITC
        Vivaldi Italic
        Vladimir Script
        Webdings
        Wide Latin
        Wingdings
        Wingdings 2
        Wingdings 3
        YouYuan
        Yu Gothic Bold
        Yu Gothic Light
        Yu Gothic Medium
        Yu Gothic Regular
        Yu Gothic UI Bold
        Yu Gothic UI Light
        Yu Gothic UI Regular
        Yu Gothic UI Semibold
        Yu Gothic UI Semilight
        ZWAdobeF
        华文中宋
        华文仿宋
        华文宋体
        华文彩云
        华文新魏
        华文楷体
        华文琥珀
        华文细黑
        华文行楷
        华文隶书
        幼圆
        微软雅黑
        微软雅黑 Bold
        微软雅黑 Light
        方正姚体
        方正舒体
        汉仪中黑 197
        等线
        等线 Bold
        等线 Light
        隶书
     >

    # 插值模式
    I:lerpMode=0

    # 行间距
    D:lineSpacing=0.1

    # 渲染 Z 偏移
    D:renderOffset=0.0

    # 是否替换原版字体渲染
    B:replaceOrigin=false

    # 阴影 X 偏移
    D:shadowOffsetX=0.5

    # 阴影 Y 偏移
    D:shadowOffsetY=0.5

    # 平滑上界
    D:smoothRangeMax=0.9

    # 平滑下界
    D:smoothRangeMin=0.0

    # 空格宽度
    D:spaceWidth=4.0
}


general {
    # 是否启用字体运行时高频诊断日志；默认关闭，避免淹没其他 debug 输出 [default: false]
    B:fontRuntimeDebug=false

    # 网络传输适配器：vanilla 为默认 early mixin 路径，forge 仅用于兼容排障。 [default: vanilla]
    S:netTransport=vanilla

    # 是否在屏幕右上角显示当前页面类名 [default: false]
    B:uiDebug=false

    # 是否启用调试输出 [default: false]
    B:useDebug=false
}


