# Configuration file

avaritia {
    # Main Avaritia patch. See README [default: true]
    B:AVARITIA_FIX=true
}


dynamicsurroundings {
    # Main DynamicSurroundings patch. See README [default: true]
    B:DSURROUND_FIX=true
}


electricalage {
    # [Workaround] Forces Electrical Age to not use display lists for rendering. Significantly (?) reduces FPS, but can improve rendering with Angelica shaders [default: true]
    B:ELN_DISABLE_DL=true
}


fiskssuperheroes {
    # Main FisksSuperheroes patch. See README [default: true]
    B:FISKHEROES_FIX=true
}


hbmsnucleartechmod {
    # Fixes rendering of akimbo weapons on mobs (+ mobs with NTM armor) + fixes rendering of akimbo weapons with CPM [default: true]
    B:NTM_ARMOR_FIX=true

    # Adds additional information to dangerous items (Ignites for / Explosion force / etc.) [default: true]
    B:NTM_EXTENDED_HAZARD_DESCRIPTIONS=true

    # Fixes new gun system (1.0.27_X5180+) rendering with shaders [default: true]
    B:NTM_GUN_FIX=true

    # Main NTM patch. See README [default: true]
    B:NTM_MAIN_FIX=true

    # Redirects the loading of all models to tessellated ones during the shadow pass. Fixes shadow distortion and self-shadowing on them [default: true]
    B:NTM_SHADOW_FIX=true

    # Fixes transparency of some NTM textures [default: true]
    B:NTM_TEXTURE_FIX=true
}


minecraft {
    # Fixes effect bar in creative menu turns black [default: true]
    B:VANILLA_GUI_BLEND_FIX=true

    # By default, minecraft locks frame rate at 30 in the main menu. This option allows you to set any maximum FPS value in the main menu. 0 to use fps limit in settings, -1 to disable [range: -1 ~ 8192, default: 144]
    I:VANILLA_MAIN_MENU_FPS_BYPASS=144

    # Fixed incorrect translucent renderer when rendering entity's name tag [default: true]
    B:VANILLA_NORMALS_DISABLE_TAG=true

    # Fixed translucent particles becoming dark with Complementary shaders enabled. (Uses GL_ONE instead of GL_SRC_ALPHA when rendering particles) [default: true]
    B:VANILLA_PARTICLE_ALPHA_WORKAROUND=true

    # 0 - Off. 1 - Updates 1st person hand rotation when player is riding/sitting, 2 - Disables 1st person hand rotation when player is riding/sitting (modern behavior) [range: 0 ~ 2, default: 2]
    I:VANILLA_RIDING_HAND_ROTATION=2

    # Changes the position of the legs when riding, in accordance with modern versions (fixes legs passing through boat/minecart) [default: true]
    B:VANILLA_RIDING_LEG_POS=true

    # Fixes experience bar black background if there is an item in the hotbar [default: true]
    B:VANILLA_XP_BAR_ALPHA_FIX=true
}


opencomputers {
    # [Workaround] Forces OpenComputers to not use display lists for rendering. Significantly (?) reduces FPS, but can improve rendering with Angelica shaders [default: true]
    B:OC_DISABLE_DL=true
}


schematica {
    # Main Schematica patch. See README [default: true]
    B:SCHEMATICA_FIX=true
}


signpicture {
    # Main SignPicture patch. See README [default: true]
    B:SIGNPIC_FIX=true
}


techguns {
    # Main Techguns patch. See README [default: true]
    B:TECHGUNS_FIX=true

    # Fixes transparency of some Techguns textures [default: true]
    B:TECHGUNS_TEXTURE_FIX=true
}


