# Configuration file

client {
    # Should an aspect be allowed to be dragged onto itself? (e.g. Ignis onto Ignis)
    B:allowCombiningSameAspect=false

    # How should the aspects be ordered?
    # 0 = SIMPLE_TO_COMPLEX - Aspects that take more combining are listed towards the bottom
    # 1 = ALPHABETICAL_FILL_LEFT - Sorted alphabetically, tries to fill the entire left side before right
    # 2 = ALPHABETICAL_BALANCED - Sorted alphabetically, left will have the first half of all aspects,
    #    right will have the second half
    #  [range: 0 ~ 2, default: 0]
    I:researchTableSortingOrder=0
}


