# Configuration file

##########################################################################################################
# biome
#--------------------------------------------------------------------------------------------------------#
# Biome IDs. They must be 255 or less
##########################################################################################################

biome {
    I:tofuBuildings=262
    I:tofuExtremeHills=263
    I:tofuForest=264
    I:tofuForestHills=265
    I:tofuHillsEdge=266
    I:tofuLeekPlains=267
    I:tofuPlainHills=268
    I:tofuPlains=269
    I:tofuRiver=270
}


enchantment {
    I:batch=32767
    I:drain=32766
}


##########################################################################################################
# entity
#--------------------------------------------------------------------------------------------------------#
# Entity IDs to be assigned. -1 for auto assignment.
##########################################################################################################

entity {
    I:tofuCreeperId=204
    I:tofuSlimeId=205
    I:tofunianId=206
}


general {
    B:achievement=true

    # Whether the Salt Pan uses transparent texture. If there's something funny about its appearance, set false.
    B:saltPanUsesAlpha=true
    I:tofuBiomeId=271
    I:tofuDim=12
    B:updateCheck=true
}


potion {
    I:filling=126
    I:glowing=127
}


villager {
    I:tofucookId=1212
    I:tofunianId=1213
}


