# Configuration file

common {
    # Set false to prohibit playing offline [default: true]
    B:"Allow offline mode"=true

    # Set false to disable player position log on death. [default: true]
    B:"Enable Death Log"=true
}


