# Configuration file

general {
    #  [range: 1 ~ 2147483647, default: 108]
    I:diamondBackpackSlots=108

    #  [range: 1 ~ 2147483647, default: 5]
    I:diamondUpgradeSlots=5

    # Enable the arcane crafting upgrade item, recipes, runtime behaviors, and Thaumcraft mixins [default: true]
    B:enableArcaneCraftingUpgrade=true

    # Enable Backpack inventory interaction mixins, runtime logic, and GUI rendering. Requires restart [default: true]
    B:enableBackpackInventoryInteraction=true

    # When a backpack is opened from the player inventory, including opening another backpack from a backpack GUI, closing it returns to the inventory screen [default: true]
    B:enableInventoryBackpackCloseReturnsToInventory=true

    # Enable all travelers upgrade items, recipes, runtime behaviors, and related mixins [default: true]
    B:enableTravelersUpgrades=true

    #  [range: 1 ~ 2147483647, default: 81]
    I:goldBackpackSlots=81

    #  [range: 1 ~ 2147483647, default: 3]
    I:goldUpgradeSlots=3

    #  [range: 1 ~ 2147483647, default: 54]
    I:ironBackpackSlots=54

    #  [range: 1 ~ 2147483647, default: 2]
    I:ironUpgradeSlots=2

    #  [range: 1 ~ 2147483647, default: 27]
    I:leatherBackpackSlots=27

    #  [range: 1 ~ 2147483647, default: 1]
    I:leatherUpgradeSlots=1

    #  [range: -2147483648 ~ 2147483647, default: 5]
    I:magnetRange=5

    #  [range: 1 ~ 2147483647, default: 120]
    I:obsidianBackpackSlots=120

    #  [range: 1 ~ 2147483647, default: 7]
    I:obsidianUpgradeSlots=7

    #  [range: 1 ~ 2147483647, default: 8]
    I:stackDowngradeTier1Div=8

    #  [range: 1 ~ 2147483647, default: 16]
    I:stackDowngradeTier2Div=16

    #  [range: 1 ~ 2147483647, default: 32]
    I:stackDowngradeTier3Div=32

    #  [range: 0.1 ~ 1.7976931348623157E308, default: 1.5]
    D:stackUpgradeStarterMul=1.5

    #  [range: 1.0 ~ 1.7976931348623157E308, default: 2.0]
    D:stackUpgradeTier1Mul=2.0

    #  [range: 1.0 ~ 1.7976931348623157E308, default: 4.0]
    D:stackUpgradeTier2Mul=4.0

    #  [range: 1.0 ~ 1.7976931348623157E308, default: 8.0]
    D:stackUpgradeTier3Mul=8.0

    #  [range: 1.0 ~ 1.7976931348623157E308, default: 16.0]
    D:stackUpgradeTier4Mul=16.0

    #  [range: 1.0 ~ 1.7976931348623157E308, default: 3.3554431E7]
    D:stackUpgradeTierOmegaMul=3.3554431E7

    # Maximum number of item stacks to display per row in the backpack tooltip [range: 1 ~ 2147483647, default: 9]
    I:tooltipMaxItemsPerRow=9

    #  [default: true]
    B:useVersionChecker=true
}


